/* 리셋 css포함시키기 */
@import url(https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css);

*{
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
a{
    color: inherit;
    text-decoration: none;
}
.btn{
    background: #fff;
    color: #333;
    font: inherit;
    font-weight: 700;
    border-radius: 7px;
    border: 2px solid #ededed;
    padding: 7px 10px;
    cursor: pointer;
}
.btn:hover{
    background: #666;
    color: #fff;
}
.btn-red{
    background: #ff2e2e;
    border: 2px solid rgb(226, 0, 0);
    color: #fff;
}
.btn-red:hover{
    background: #fff;
    color: #ff2e2e;
}